[Desktop Entry]
Version=1.0
Name=Firefox Web Browser
Comment=Browse the World Wide Web
Exec=%DIR%/start %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox
StartupNotify=true
Name[en_US]=Tor Web Browser
